// Imports
@import "./../../assets/stylus/settings/variables.styl"
@import "./../../assets/stylus/mixins/mixins.styl"

.dropdown
  display: inline-block
  position: relative
  +variant('block')
    display: block
