<div
  :class="classNames"
>

  <v-button
    :action="toggle"
    :contextual-style="contextualStyle"
    :variants="button.variants"
    :icon="buttonIcon"
    :content="buttonContent"
  ></v-button>

  <dropdown-menu
    v-show="isCollapsed"
    transition="dropdown__menu--expand"
    :items="items"
    :contextual-style="elementContextualStyle('menu')"
    :variants="elementVariants('menu')"
    :chosen.sync="chosen"
    :collapse="toggle"
    :field-name="fieldName"
  ></dropdown-menu>

</div>
