// Imports
@import "./../../../assets/stylus/settings/variables.styl"
@import "./../../../assets/stylus/mixins/mixins.styl"

.breadcrumb
  +has('content')
    vertical-align: middle
    display: inline-block
    color: $gray
