@import "../../assets/stylus/mixins/mixins.styl"
@import "../../assets/stylus/settings/variables.styl"

.panel
  background-color: #fff
  border-radius: .125rem
  box-shadow: $box_shadow_minimum
  display: block
