<div :class="classNames">

  <panel-heading
    v-if="hasHeading || hasSlot('title')"
    :title="propOptional(heading, 'title')"
    :variants="elementVariants('heading')"
    :contextual-style="elementContextualStyle('heading')"
  >
    <slot
      v-if="hasSlot('title')"
      name="title"
      slot="title"
    ></slot>
  </panel-heading>

  <panel-body
    v-if="hasBody || hasSlot('body')"
    :content="elementContent('body')"
    :variants="elementVariants('body')"
    :contextual-style="elementContextualStyle('body')"
  >
    <slot
      v-if="hasSlot('body')"
      name="body"
      slot="body"
    ></slot>
  </panel-body>

  <panel-footer
    v-if="hasFooter || hasSlot('footer')"
    :content="elementContent('footer')"
    :variants="elementVariants('footer')"
    :contextual-style="elementContextualStyle('footer')"
  >
    <slot
      v-if="hasSlot('footer')"
      name="footer"
      slot="footer"
    ></slot>
  </panel-footer>
</div>
