// Imports
@import "./../../../assets/stylus/mixins/mixins.styl"
@import "./../../../assets/stylus/settings/variables.styl"

.Table
  +has('header')
    +variant('dark')
      background-color: $dark_blue_gray
