// Imports
@import "../../../assets/stylus/settings/variables.styl"
@import "../../../assets/stylus/mixins/mixins.styl"

.list
  +has('image')
    display: inline-block
    border-radius: 100%
    width: 3rem
    height: 3rem
    object-fit: cover
    vertical-align: middle
    margin-right: 1rem
