// Imports
@import "./../../../assets/stylus/settings/variables.styl"
@import "./../../../assets/stylus/mixins/mixins.styl"

.Breadcrumb
  +has(item)
    display: inline-block
    &:after
      color: $dark_gray
      content: '/'
      display: inline-block
      font-family: Roboto, 'sans-serif'
      vertical-align: middle
      margin-left: .25rem
      margin-right: .5rem
    &:last-child:after
      display: none
    +variant(primary) // Breadcrumb__item--primary
      color: $primary
    +variant(success) // Breadcrumb__item--success
      color: $success
    +variant(danger) // Breadcrumb__item--danger
      color: $danger
    +variant(warning) // Breadcrumb__item--warning
      color: $warning
    +variant(info) // Breadcrumb__item--info
      color: $info
    +variant(dark) // Breadcrumb__item--dark
      color: $blue_gray
