@import "./../../assets/stylus/helpers/spa-imports.styl"

.side-menu
  top: 4rem
  width: 15rem
  position: absolute
  height: calc(100% - 4rem)
  min-height: calc(100vh - 4rem)
  background-color: palette('White')
  padding: 1rem
  z-index: 999
  +variant('slide-left-enter')
    animation: slideInLeft .5s ease
  +variant('slide-left-leave')
    animation: slideOutLeft .5s ease
