<a
  v-if="isLink"
  :class="classNames"
  :href="action"
>
  <slot>
    {{content}}
  </slot>
  <icon
    v-if="hasIcon"
    :variants="elementVariants('icon')"
  ></icon>
</a>

<a
  v-if="isVueRouter"
  :class="classNames"
  v-link="action.to"
>
  <slot>
    {{content}}
  </slot>
  <icon
    v-if="hasIcon"
    :variants="elementVariants('icon')"
  ></icon>
</a>

<a
  v-if="isFunction"
  :class="classNames"
  @click.prevent="action"
>
  <slot>
    {{content}}
  </slot>
  <icon
    v-if="hasIcon"
    :variants="elementVariants('icon')"
  ></icon>
</a>

<button
  v-if="isDefault"
  :class="classNames"
>
  <slot>
    {{content}}
  </slot>
  <icon
    v-if="hasIcon"
    :variants="elementVariants('icon')"
  ></icon>
</button>
