@import "./../../assets/stylus/helpers/spa-imports.styl"

.button
  transition(100ms)
  border-radius: .125rem
  box-shadow: $box_shadow_minimum
  color: $black
  display: inline-block
  font-weight: 400
  margin: 0
  padding: .75rem 1rem
  text-decoration: none
  position: relative
  &:hover
    cursor: pointer

  +variant('primary')
    background-color: $primary
    color: $white
    &:hover
      background-color: $primary_600
  +variant('success')
    background-color: $success
    color: $white
    &:hover
      background-color: $success_600
  +variant('danger')
    background-color: $danger
    color: $white
    &:hover
      background-color: $danger_600
  +variant('warning')
    background-color: $warning
    color: $white
    &:hover
      background-color: $warning_600
  +variant('info')
    background-color: $info
    color: $white
    &:hover
      background-color: $info_600
  +variant('dark')
    background-color: $blue_gray
    color: $white
    &:hover
      background-color: $dark_blue_gray
  +variant('block')
    display: block
    text-align: center
  +variant('dropdown')
    z-index: 999
