@import "./../../assets/stylus/helpers/spa-imports.styl"

.button
  transition(100ms)
  border: none
  border-radius: .125rem
  box-shadow: $box_shadow_minimum
  color: palette('Black')
  display: inline-block
  font-weight: 400
  margin: 0
  outline: none
  padding: .75rem 1rem
  text-decoration: none
  position: relative
  &:hover
    cursor: pointer

  +variant('primary')
    background-color: palette('Blue')
    color: palette('White')
    &:hover
      background-color: palette('Blue', '600')
  +variant('success')
    background-color: palette('Green')
    color: palette('White')
    &:hover
      background-color: palette('Green', '600')
  +variant('danger')
    background-color: palette('Red')
    color: palette('White')
    &:hover
      background-color: palette('Red', '600')
  +variant('warning')
    background-color: palette('Orange')
    color: palette('White')
    &:hover
      background-color: palette('Orange', '600')
  +variant('info')
    background-color: palette('Light Blue')
    color: palette('White')
    &:hover
      background-color: palette('Light Blue', '600')
  +variant('dark')
    background-color: palette('Blue Grey', '800')
    color: palette('White')
    &:hover
      background-color: palette('Blue Grey', '900')
  +variant('block')
    display: block
    text-align: center
    width: 100%
  +variant('dropdown')
    z-index: 1
