// Imports
@import "../../../assets/stylus/mixins/mixins.styl"
@import "../../../assets/stylus/settings/variables.styl"

.table
  +has('footer')
    +variant('dark')
      background-color: $dark_blue_gray
