@import "./../../../assets/stylus/helpers/spa-imports.styl"

.dropdown
  +has('item')
    transition(100ms)
    cursor: pointer
    text-decoration: none
    list-style: none
    padding: .5rem 1rem
    margin: 0
    &:hover
      background-color: palette('Blue Grey', '50')
