@import "./../../../assets/stylus/helpers/spa-imports.styl"

.dropdown
  +has('menu')
    background-color: palette('White')
    border-radius: .125rem
    box-shadow: $box_shadow_minimum
    padding: 0
    margin: .5rem 0 0 0
    font-weight: 300
    z-index: 0
    +variant('expand-enter')
      animation: fadeInDown .5s ease
    +variant('expand-leave')
      animation: fadeOutUp .5s ease
