// Imports
@import "./../../assets/stylus/settings/variables.styl"
@import "./../../assets/stylus/mixins/mixins.styl"

.List // List
  display: block
  margin: 0
  padding: 0
  list-style: none
  box-shadow: $box_shadow_minimum
  border-radius: .125rem
  +variant('dark')
    background-color: $dark_blue_gray
