@import "./../../../assets/stylus/helpers/spa-imports.styl"

.test
  color: palette('White')
  font-size: 1.5rem
  padding: .5rem

.nav
  +has('bar')
    background-color: palette('Blue')
    display: block
    padding: .75rem 1rem
    margin-bottom: 1rem
    width: 100%
    +variant('red')
      background-color: palette('Red')
    +variant('pink')
      background-color: palette('Pink')
    +variant('purple')
      background-color: palette('Purple')
    +variant('deep-purple')
      background-color: palette('Deep Purple')
    +variant('indigo')
      background-color: palette('Indigo')
    +variant('blue')
      background-color: palette('Blue')
    +variant('light-blue')
      background-color: palette('Light Blue')
    +variant('cyan')
      background-color: palette('Cyan')
    +variant('teal')
      background-color: palette('Teal')
    +variant('green')
      background-color: palette('Green')
    +variant('light-green')
      background-color: palette('Light Green')
    +variant('lime')
      background-color: palette('Lime')
    +variant('yellow')
      background-color: palette('Yellow')
    +variant('amber')
      background-color: palette('Amber')
    +variant('orange')
      background-color: palette('Orange')
    +variant('deep-orange')
      background-color: palette('Deep Orange')
    +variant('brown')
      background-color: palette('Brown')
    +variant('grey')
      background-color: palette('Grey')
    +variant('blue-grey')
      background-color: palette('Blue Grey')
