@import "./../../../assets/stylus/mixins/mixins.styl"
@import "./../../../assets/stylus/settings/variables.styl"

.Progress // Progress__bar
  +has('bar')
    transition(500ms)
    display: block
    border-radius: .125rem
    position: absolute
    width: 10%
    height: 1.5rem
    background-color: $dark_gray
    color: $white
    line-height: 1.5rem
    text-align: center
    overflow: hidden
    +variant(primary) // Progress__bar--primary
      background-color: $primary
    +variant(success) // Progress__bar--success
      background-color: $success
    +variant(danger) // Progress__bar--danger
      background-color: $danger
    +variant(warning) // Progress__bar--warning
      background-color: $warning
    +variant(info) // Progress__bar--info
      background-color: $info
    +variant(dark) // Progress__bar--dark
      background-color: $dark_blue_gray
