@import "./../../../assets/stylus/helpers/spa-imports.styl"

.progress
  +has('bar')
    transition(500ms)
    display: block
    border-radius: .125rem
    position: absolute
    width: 10%
    height: 1.5rem
    background-color: $dark_gray
    color: $white
    line-height: 1.5rem
    text-align: center
    overflow: hidden
    +variant('primary')
      background-color: $primary
    +variant('success')
      background-color: $success
    +variant('danger')
      background-color: $danger
    +variant('warning')
      background-color: $warning
    +variant('info')
      background-color: $info
    +variant('dark')
      background-color: $dark_blue_gray
