@import "./../../../assets/stylus/helpers/spa-imports.styl"

.list
  +has('content')
    display: inline-block
    +variant('primary')
      color: palette('Blue')
    +variant('success')
      color: palette('Green')
    +variant('danger')
      color: palette('Red')
    +variant('warning')
      color: palette('Orange')
    +variant('info')
      color: palette('Light Blue')
    +variant('dark')
      color: palette('White')
