@import "./../../../assets/stylus/helpers/spa-imports.styl"

.list
  +has('content')
    display: inline-block
    +variant('primary')
      color: $primary
    +variant('success')
      color: $success
    +variant('danger')
      color: $danger
    +variant('warning')
      color: $warning
    +variant('info')
      color: $info
    +variant('dark')
      color: $white
