@import "./../../../assets/stylus/helpers/spa-imports.styl"

.side-menu
  +has('link')
    transition(100ms)
    display: block
    padding: 1rem
    color: palette('Grey', '700')
    text-decoration: none
    &:hover
      transition(100ms)
      background-color: palette('Grey', '800')
      color: palette('White')
    +variant('primary')
      &:hover
        background-color: palette('Blue')
    +variant('success')
      &:hover
        background-color: palette('Green')
    +variant('danger')
      &:hover
        background-color: palette('Red')
    +variant('warning')
      &:hover
        background-color: palette('Orange')
    +variant('info')
      &:hover
        background-color: palette('Light Blue')
    +variant('dark')
      &:hover
        background-color: palette('Blue Grey', '800')
    +variant('active')
      background-color: palette('Grey', '200')
      +variant('primary')
        color: palette('Blue')
        background-color: transparent
      +variant('success')
        color: palette('Green')
        background-color: transparent
      +variant('danger')
        color: palette('Red')
        background-color: transparent
      +variant('warning')
        color: palette('Orange')
        background-color: transparent
      +variant('info')
        color: palette('Light Blue')
        background-color: transparent
      +variant('dark')
        color: palette('Blue Grey', '800')
        background-color: transparent
