@import "./../../assets/stylus/helpers/spa-imports.styl"

.label
  transition(100ms)
  border-radius: .125rem
  box-shadow: $box_shadow_minimum
  color: palette('Black')
  display: inline-block
  font-size: .875rem
  font-weight: 300
  margin: 0
  padding: .25rem
  text-decoration: none
  +variant(primary)
    background-color: palette('Blue')
    color: palette('White')
  +variant(success)
    background-color: palette('Green')
    color: palette('White')
  +variant(danger)
    background-color: palette('Red')
    color: palette('White')
  +variant(warning)
    background-color: palette('Orange')
    color: palette('White')
  +variant(info)
    background-color: palette('Light Blue')
    color: palette('White')
  +variant(dark)
    background-color: palette('Blue Grey', '800')
    color: palette('White')
