// Imports
@import "../../assets/stylus/settings/variables.styl"
@import "../../assets/stylus/mixins/mixins.styl"

.label
  transition(100ms)
  border-radius: .125rem
  box-shadow: $box_shadow_minimum
  color: $black
  display: inline-block
  font-size: .875rem
  font-weight: 300
  margin: 0
  padding: .25rem
  text-decoration: none
  +variant(primary)
    background-color: $primary
    color: $white
  +variant(success)
    background-color: $success
    color: $white
  +variant(danger)
    background-color: $danger
    color: $white
  +variant(warning)
    background-color: $warning
    color: $white
  +variant(info)
    background-color: $info
    color: $white
  +variant(dark)
    background-color: $blue_gray
    color: $white
