@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

@font-face
  font-family: "Material Design Icons"
  src: url("./../../assets/fonts/MaterialDesignIcons/MaterialDesignIcons-webfont.eot")
  src: url("./../../assets/fonts/MaterialDesignIcons/MaterialDesignIcons-webfont.eot?#iefix") format("embedded-opentype"),
    url("./../../assets/fonts/MaterialDesignIcons/MaterialDesignIcons-webfont.woff2") format("woff2"),
    url("./../../assets/fonts/MaterialDesignIcons/MaterialDesignIcons-webfont.woff") format("woff"),
    url("./../../assets/fonts/MaterialDesignIcons/MaterialDesignIcons-webfont.ttf") format("truetype"),
    url("./../../assets/fonts/MaterialDesignIcons/MaterialDesignIcons-webfont.svg#materialdesigniconsregular") format("svg")
  font-weight: normal
  font-style: normal
