@import "./../../../assets/stylus/helpers/spa-imports.styl"

.alert
  +has('message')
    display: block
    +variant('primary')
      color: palette('White')
    +variant('success')
      color: palette('White')
    +variant('danger')
      color: palette('White')
    +variant('warning')
      color: palette('White')
    +variant('info')
      color: palette('White')
    +variant('dark')
      color: palette('White')
