@import "./../../../assets/stylus/helpers/spa-imports.styl"

.list
  +has('item')
    background-color: $white
    display: block
    margin: 0
    padding: 1rem
    list-style: none
    border-bottom: 1px solid palette('Grey', '200')
    &:last-child
      border: none
    +variant('primary')
      border-color: palette('Blue', '50')
    +variant('success')
      border-color: palette('Green', '50')
    +variant('danger')
      border-color: palette('Red', '50')
    +variant('warning')
      border-color: palette('Orange', '50')
    +variant('info')
      border-color: palette('Light Blue', '50')
    +variant('dark')
      border-color: palette('Blue Grey', '800')
      background-color: palette('Blue Grey', '900')
