<div
  :class="classNames"
>

  <alert-timer
    v-if="hasTimer"
    :variants="elementVariants('variants')"
    :contextual-style="elementContextualStyle('timer')"
    :close-function="closeAlert"
  ></alert-timer>

  <alert-title
    v-if="hasTitle"
    :variants="elementVariants('title')"
    :contextual-style="elementContextualStyle('title')"
    :content="elementContent('title')"
  >
    <slot
      v-if="hasSlot('title')"
      name="title"
    ></slot>
  </alert-title>

  <alert-message
    v-if="hasMessage"
    :variants="elementVariants('message')"
    :contextual-style="elementContextualStyle('message')"
    :content="elementContent('message')"
  >
    <slot
      v-if="hasSlot('message')"
      name="message"
    ></slot>
  </alert-message>

  <alert-close-button
    v-if="hasCloseButton"
    :variants="elementVariants('closeButton')"
    :contextual-style="elementContextualStyle('closeButton')"
    :close-function="closeAlert"
  ></alert-close-button>

</div>
