@import "../../assets/stylus/mixins/mixins.styl"
@import "../../assets/stylus/settings/variables.styl"

.alert
  position: relative
  background-color: $white
  border-radius: .125rem
  box-shadow: $box_shadow_normal
  display: block
  font-weight: 300
  margin-top: 1rem
  padding: 1rem
  &:first-child
    margin-top: 0
  +variant('primary')
    background-color: $primary
    border-color: $primary
  +variant('success')
    background-color: $success
    border-color: $success
  +variant('danger')
    background-color: $danger
    border-color: $danger
  +variant('warning')
    background-color: $warning
    border-color: $warning
  +variant('info')
    background-color: $info
    border-color: $info
  +variant('dark')
    color: $white
    background-color: $blue_gray
