@import "./../../assets/stylus/helpers/spa-imports.styl"

.alert
  position: relative
  background-color: palette('White')
  border-radius: .125rem
  box-shadow: $box_shadow_normal
  display: block
  font-weight: 300
  margin-top: 1rem
  padding: 1rem
  &:first-child
    margin-top: 0
  +variant('primary')
    background-color: palette('Blue')
    border-color: palette('Blue')
  +variant('success')
    background-color: palette('Green')
    border-color: palette('Green')
  +variant('danger')
    background-color: palette('Red')
    border-color: palette('Red')
  +variant('warning')
    background-color: palette('Orange')
    border-color: palette('Orange')
  +variant('info')
    background-color: palette('Light Blue')
    border-color: palette('Light Blue')
  +variant('dark')
    color: palette('White')
    background-color: palette('Blue Grey', '800')
