@import "./../../../assets/stylus/helpers/spa-imports.styl"

.panel
  +has('title')
    font-size: 1rem
    font-weight: 400
    margin: 0
    padding: 0
    +variant('primary')
      color: palette('White')
    +variant('success')
      color: palette('White')
    +variant('danger')
      color: palette('White')
    +variant('warning')
      color: palette('White')
    +variant('info')
      color: palette('White')
    +variant('dark')
      color: palette('White')
