@import "./../../../assets/stylus/helpers/spa-imports.styl"

@keyframes timer {
  0% {
    width: 100%
  }
  100% {
    width: 0
  }
}

.alert
  +has('timer')
    animation: timer 5000ms infinite linear
    position: absolute
    top: 0
    left: 0
    height: .25rem
    +variant('primary')
      background: palette('Blue', '900')
    +variant('success')
      background: palette('Green', '900')
    +variant('danger')
      background: palette('Red', '900')
    +variant('warning')
      background: palette('Orange', '900')
    +variant('info')
      background: palette('Light Blue', '900')
    +variant('dark')
      background: palette('White')
