// Imports
@import "../../../assets/stylus/mixins/mixins.styl"
@import "../../../assets/stylus/settings/variables.styl"

.table
  +has('row')
    border-top: 1px solid $light_gray
    &.table__row--header
      border: none
