@import "./../../../assets/stylus/helpers/spa-imports.styl"

.alert
  +has('title')
    display: block
    font-size: 1.125rem
    font-weight: 400
    margin: 0 0 0.5rem 0
    padding: 0
    +variant('primary')
      color: palette('White')
    +variant('success')
      color: palette('White')
    +variant('danger')
      color: palette('White')
    +variant('warning')
      color: palette('White')
    +variant('info')
      color: palette('White')
    +variant('dark')
      color: palette('White')
