@import "./../../../assets/stylus/helpers/spa-imports.styl"

.nav
  +has('side')
    top: 4rem
    width: 15rem
    position: absolute
    height: calc(100% - 4rem)
    min-height: calc(100vh - 4rem)
    background-color: palette('Black')
    color: palette('White')
    padding: 1rem
    z-index: 999
    +variant('expand-enter')
      animation: slideInLeft .5s ease
    +variant('expand-leave')
      animation: slideOutLeft .5s ease
