<table
  :class="classNames"
>

  <thead
    is="table-header"
    v-if="hasHeader"
    :columns="columns"
    :variants="header.variants"
    :contextual-style="header.contextualStyle"
  ></thead>

  <tbody
    is="table-body"
    v-if="hasBody"
    :items="items"
    :columns="columns"
    :variants="body.variants"
    :contextual-style="body.contextualStyle"
  ></tbody>

  <tfoot
    is="table-footer"
    v-if="hasFooter"
    :columns="columns"
    :variants="footer.variants"
    :contextual-style="footer.contextualStyle"
  ></tfoot>

</table>
