@import "./../../assets/stylus/helpers/spa-imports.styl"

.table
  background-color: #fff
  box-shadow: $box_shadow_minimum
  width: 100%
  border-collapse: collapse
  border-radius: .125rem
  overflow: hidden
