/**
 * [Master Stylesheet]
 *
 * Project:       Vue Components
 * Version:       1.0.4
 * Author:        Vivid Websolutions <info@vivid-websolutions.nl>
 * Description:   A group of simple to use Vue components
 *
 *
 * [Table of Contents]
 *
 *  1. Config
 *  2. Vendor
 *  3. Base
 */

/*
 *  1. Config
 */
@require 'config/*'

/*
 *  2. Vendor
 */
@require '~google-material-color/dist/palette.styl'
@require '~normalize.styl/_normalize.styl'
@require '~animate.css/animate.css'

/*
 *  3. Base
 */
@require 'base/*'
