/**
 * [Master Stylesheet]
 *
 * Project:       Vue Components
 * Version:       1.0.4
 * Author:        Vivid Websolutions <info@vivid-websolutions.nl>
 * Description:   A group of simple to use Vue components
 *
 *
 * [Table of Contents]
 *
 *  1. Config
 *  2. Vendor
 *  3. Base
 *  4. Transitions
 *    4.1 Fade
 *    4.2 Fade Left
 *    4.3 Fade Right
 *    4.4 Flip X
 *    4.5 Flip Y
 *    4.6 Slide Left
 *    4.7 Slide Right
 */

/*
 *  1. Config
 */
@require 'config/*'

/*
 *  2. Vendor
 */
@require '~google-material-color/dist/palette.styl'
@require '~normalize.styl/_normalize.styl'
@require '~animate.css/animate.css'

/*
 *  3. Base
 */
@require 'base/*'

/*
 *  4. Transitions
 *    4.1 Fade
 *    4.2 Fade Down
 *    4.3 Fade Left
 *    4.4 Fade Right
 *    4.5 Fade Up
 *    4.6 Flip X
 *    4.7 Flip Y
 *    4.8 Slide Left
 *    4.9 Slide Right
 */
@require 'transitions/*'
