@import "./../../../assets/stylus/helpers/spa-imports.styl"

.table
  +has('cell')
    padding: 1rem 1rem
    text-align: left
    +variant('header')
      color: $gray
      font-weight: 400
      &.table__cell--primary
        color: $primary
      &.table__cell--success
        color: $success
      &.table__cell--danger
        color: $danger
      &.table__cell--warning
        color: $warning
      &.table__cell--info
        color: $info
      &.table__cell--dark
        color: $white
    +variant('footer')
      color: $gray
      &.table__cell--primary
        color: $primary
      &.table__cell--success
        color: $success
      &.table__cell--danger
        color: $danger
      &.table__cell--warning
        color: $warning
      &.table__cell--info
        color: $info
      &.table__cell--dark
        color: $white

