@import "./../../../assets/stylus/helpers/spa-imports.styl"

.alert
  +has('close-button')
    cursor: pointer
    font-size: 1.5rem
    font-weight: 600
    line-height: 2rem
    position: absolute
    right: 1rem
    top: .75rem
    +variant('primary')
      color: palette('White')
    +variant('success')
      color: palette('White')
    +variant('danger')
      color: palette('White')
    +variant('warning')
      color: palette('White')
    +variant('info')
      color: palette('White')
    +variant('dark')
      color: palette('White')
